/* *Variables */
:root{
    --white: #fbfffeff;
    --shimmering-blush: #dd9296ff;
    --eerie-black: #1b1b1eff;
    --polished-pine: #68a691ff; 
}

* {
 box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--white);
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: var(--eerie-black);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Crimson Text', serif;
    width: 200px;
    height: 2rem;
    border: var(--eerie-black) 2px solid;
    border-radius: 5px;
    color: var(--eerie-black);
    background-color: var(--white);
}
button:hover{
    background-color: #efefef;
}
button:active{
    transform: scale(1.02);
    background-color: var(--eerie-black);
    color: var(--white);
}
.generator-wrapper{
    /* margin: 16px 16px; */
    /* display: flex; */
    height: 80vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.generator{
    padding: 16px;
    /* width: 70vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20 px; */
    justify-content: space-between;
}
.color-container{
    /* position: absolute; */
    /* margin: 10px; */
    width: 20vw;
    height: 530px;
    background-color: var(--shimmering-blush);
    border: 3px solid var(--eerie-black);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.color-info{
    border-top: solid var(--eerie-black) 3px;
    border-bottom: solid var(--eerie-black) 3px;
    background-color: var(--white);
    position: relative;
    top: 75%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.btn-row{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}